.master {
    display: flex;
    justify-content: center;
}

.btn {
    display: block;
    margin: 10px auto 100px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    width: 600px;
    height: 600px;
    }

.square {
    display: flex;
    flex: 1;
    border: 1px solid rgb(241, 241, 241);
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
}

.square-black {
    background-color: black;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}